# Generated and temporary files
bin/
gen/
obj/
tmp/
*~
*~.nib
*.a
*.ap_
*.apk
*.bak
*.class
*.d
*.dex
*.o
*.so
*.swp
*.tmp
gdb.setup
gdbserver

# Eclipse project files
.settings/
.externalToolBuilders/
proguard/
gradle/
build/
.buildpath
.classpath
.cproject
.loadpath
.metadata
.project
.gradle
*.launch
*.pydevproject
local.properties
gradle.properties

# Intellij project files
.idea/
*.iml
*.ipr
*.iws

# Crash-report related
crashreport.txt

# Transifex client
tx.exe