# keep EOL normalized
* text=auto

# use native line ending
*.c text
*.cc text
*.cfg text
*.cpp text
*.def text
*.h text
*.in text
*.java text
*.m text
*.md text
*.mk text
*.pl text
*.rc text
*.S text
*.txt text
*.ucls text
*.ver text
*.xml text

# use linux line ending
*.sh text eol=lf

# don't modify binary files
*.gif binary
*.gz binary
*.jar binary
*.jpg binary
*.pdf binary
*.png binary
*.zip binary
*dynamiclib_win32.c binary
*files_win32.c binary
*.vcproj binary
*.sln binary
