<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="paulscode.android.mupen64plusae"
      android:versionCode="14"
      android:versionName="1.9.2"
      android:installLocation="auto">
      
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    
    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:launchMode="singleTask"
                 android:hardwareAccelerated="true">
        <activity android:name="paulscode.android.mupen64plusae.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsActivity"
                  android:label="@string/manifest_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsVideoActivity"
                  android:label="@string/manifest_video_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsVideoChangeActivity"
                  android:label="@string/manifest_choose_video_plugin">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsVideoConfigureActivity"
                  android:label="@string/manifest_configure_video_plugin">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsAudioActivity"
                  android:label="@string/manifest_audio_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsAudioChangeActivity"
                  android:label="@string/manifest_choose_audio_plugin">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsInputActivity"
                  android:label="@string/manifest_input_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsInputChangeActivity"
                  android:label="@string/manifest_choose_input_plugin">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsInputConfigureActivity"
                  android:label="@string/manifest_configure_controllers">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsInputConfigureButtonsActivity"
                  android:label="@string/manifest_map_buttons">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsRSPActivity"
                  android:label="@string/manifest_rsp_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsRSPChangeActivity"
                  android:label="@string/manifest_choose_rsp_plugin">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsCoreActivity"
                  android:label="@string/manifest_core_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsCoreChangeActivity"
                  android:label="@string/manifest_choose_core">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsCoreConfigureActivity"
                  android:label="@string/manifest_configure_core">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSettingsLanguageActivity"
                  android:label="@string/manifest_language">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSkinsActivity"
                  android:label="@string/manifest_skins">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSkinsGamepadActivity"
                  android:label="@string/manifest_virtual_gamepad_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSkinsGamepadChangeActivity"
                  android:label="@string/manifest_select_layout">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSkinsTouchpadActivity"
                  android:label="@string/manifest_touchpad_settings">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuSkinsTouchpadChangeActivity"
                  android:label="@string/manifest_select_layout">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuCheatsActivity"
                  android:label="@string/manifest_cheats">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.MenuCheatsOptionChooserActivity"
                  android:label="@string/manifest_cheats">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.FileChooserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.GameActivity"
                  android:theme="@android:style/Theme.Holo"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|uiMode">
        </activity>
        <activity android:name="paulscode.android.mupen64plusae.GameActivityXperiaPlay"
                  android:theme="@android:style/Theme.Holo"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|uiMode">
            <meta-data android:name="android.app.lib_name"
                    android:value="xperia-touchpad" />
        </activity>
        <meta-data android:name="xperiaplayoptimized_content"
                   android:resource="@drawable/hireslogo" />
        <meta-data android:name="game_display_name"
                   android:resource="@string/app_name" />
        <meta-data android:name="game_icon"
                   android:resource="@drawable/hireslogo" />
    </application>
</manifest> 
