<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mupen64plusae.v3.fzurita"
    android:installLocation="auto"
    android:versionCode="40"
    android:versionName="3.0 (release)"
    tools:ignore="UnusedAttribute" >

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="paulscode.android.mupen64plusae.AppMupen64Plus"
        android:allowBackup="true"
        android:isGame="true"
        android:hardwareAccelerated="true"
        android:exported="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/hireslogo"
        android:banner="@drawable/banner"
        android:theme="@style/appTheme"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name="paulscode.android.mupen64plusae.SplashActivity"
            android:label="@string/SplashActivity_title"
            android:theme="@style/Theme.AppCompat.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="tv.ouya.intent.category.GAME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.n64" />
                <data android:pathPattern=".*\\.N64" />
                <data android:pathPattern=".*\\.v64" />
                <data android:pathPattern=".*\\.V64" />
                <data android:pathPattern=".*\\.z64" />
                <data android:pathPattern=".*\\.Z64" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.GalleryActivity"
            android:exported="false"
            android:label="@string/GalleryActivity_title"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.ScanRomsActivity"
            android:exported="false"
            android:label="@string/ScanRomsActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.ExtractTexturesActivity"
            android:exported="false"
            android:label="@string/ExtractTexturesActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.GamePrefsActivity"
            android:exported="false"
            android:label="@string/PlayMenuActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.GamePrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.AudioPrefsActivity"
            android:exported="false"
            android:label="@string/categoryAudio_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.AudioPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.DataPrefsActivity"
            android:exported="false"
            android:label="@string/categoryData_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.DataPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.DisplayPrefsActivity"
            android:exported="false"
            android:label="@string/categoryDisplay_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.DisplayPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.InputPrefsActivity"
            android:exported="false"
            android:label="@string/categoryInput_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.InputPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.LibraryPrefsActivity"
            android:exported="false"
            android:label="@string/categoryLibrary_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.LibraryPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.persistent.TouchscreenPrefsActivity"
            android:exported="false"
            android:label="@string/categoryTouchscreen_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".persistent.TouchscreenPrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.ManageControllerProfilesActivity"
            android:exported="false"
            android:label="@string/ManageControllerProfilesActivity_title"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name=".profile.ManageControllerProfilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.ControllerProfileActivity"
            android:exported="false"
            android:label="@string/ControllerProfileActivity_title"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name=".profile.ControllerProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.ControllerProfileActivityBigScreen"
            android:exported="false"
            android:label="@string/ControllerProfileActivity_title"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name=".profile.ControllerProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.ManageEmulationProfilesActivity"
            android:exported="false"
            android:label="@string/ManageEmulationProfilesActivity_title"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name=".profile.ManageEmulationProfilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.EmulationProfileActivity"
            android:exported="false"
            android:label="@string/EmulationProfileActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".profile.EmulationProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.ManageTouchscreenProfilesActivity"
            android:exported="false"
            android:label="@string/ManageTouchscreenProfilesActivity_title"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name=".profile.ManageTouchscreenProfilesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.profile.TouchscreenProfileActivity"
            android:exported="false"
            android:label="@string/TouchscreenProfileActivity_title"
            android:theme="@style/Theme.AppCompat.Black.OverlayActionBar" >
           <intent-filter>
                <action android:name=".profile.TouchscreenProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.input.DiagnosticActivity"
            android:exported="false"
            android:label="@string/DiagnosticActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".input.DiagnosticActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="paulscode.android.mupen64plusae.cheat.CheatEditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/CheatEditorActivity_title"
            android:theme="@style/Theme.Mupen64plusaeTheme" >
            <intent-filter>
                <action android:name=".cheat.CheatEditorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        For the GameActivities, do not restart the activity when the phone's slider
        opens or closes, or when the orientation (and thereby screen size) changes.
        This behavior is specified in android:configChanges below.
        -->
        <activity
            android:name="paulscode.android.mupen64plusae.game.GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/GameActivity_title"
            android:theme="@style/appTheme.Black" >
        </activity>
        <service android:name="paulscode.android.mupen64plusae.task.CacheRomInfoService" />
        <service android:name="paulscode.android.mupen64plusae.task.ExtractTexturesService" />
        <meta-data
            android:name="game_display_name"
            android:resource="@string/app_name" />
        <meta-data
            android:name="game_icon"
            android:resource="@drawable/hireslogo" />
    </application>

</manifest>