name: Mupen64Plus-AE

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout mupen64plus-ae repo 
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Decode debug keystore
      env:
        DEBUG_KEYSTORE: ${{ secrets.DEBUG_KEYSTORE }}
      run: |
        if [ -z "$DEBUG_KEYSTORE" ]
        then
           echo "No debug keystore value"
        else
           echo $DEBUG_KEYSTORE > debug.keystore.base64
           base64 --decode debug.keystore.base64 > debug.keystore
           sudo cp -f debug.keystore /root/.android/.
        fi 

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends file gawk

    - name: Build artifact
      run: ./gradlew assemble

    - name: Declare branch name
      id: branch-name
      uses: tj-actions/branch-names@v6
        
    - name: Get branch name
      id: var
      run: |
        echo "branch=${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_OUTPUT

    - name: Declare sha name
      uses: benjlevesque/short-sha@v2.1
      id: short-sha
      with:
        length: 7
        
    - name: Get sha name
      run: |
        echo $SHA
      env: 
        SHA: ${{ steps.short-sha.outputs.sha }}

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with: 
        name: mupen64plus-ae-${{ steps.var.outputs.branch }}-${{ env.SHA }}
        path: ${{ github.workspace }}/app/build/outputs/apk/release/Mupen64PlusAE-MPN.apk