name: Mupen64Plus-AE

on: [push, pull_request]

jobs:
  build:
    name: Build Mupen64Plus-AE
    runs-on: ubuntu-latest
    container: cirrusci/android-sdk:30-ndk

    steps:
    - name: Checkout mupen64plus-ae repo 
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Decode debug keystore
      env:
        DEBUG_KEYSTORE: ${{ secrets.DEBUG_KEYSTORE }}
      run: |
        if [ -z "$DEBUG_KEYSTORE" ]
        then
           echo "No debug keystore value"
        else
           echo $DEBUG_KEYSTORE > debug.keystore.base64
           base64 --decode debug.keystore.base64 > debug.keystore
           sudo cp -f debug.keystore /root/.android/.
        fi 

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends file gawk
        echo y | sdkmanager "cmake;3.18.1"
        
    - name: Set up environment
      run: |
        echo "ANDROID_NDK_PATH=/opt/android-sdk-linux/ndk/23.1.7779620" >> $GITHUB_ENV

    - name: Build artifact
      run: ./gradlew assemble

    - name: Declare some variables
      id: vars
      shell: bash
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF##*/})"
        echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with: 
        name: mupen64plus-ae-${{ steps.vars.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
        path: ${{ github.workspace }}/app/build/outputs/apk/release/Mupen64PlusAE-release.apk
